<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        // Check for 'signup' parameter in the URL to trigger a success popup
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('signup')) {
                alert("Signup successful! Welcome to the DevOps Project.");
            }
        };
    </script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('signup') }}">Signup</a></li>
            </ul>
        </nav>
    </header>
    <div class="index-container">
        <h1>Welcome to Demo DevOps Projects</h1>
    </div>
    <footer>
        <p>&copy; 2023 Demo DevOps Project. All rights reserved.</p>
    </footer>
</body>
</html>
