<!DOCTYPE html>
<html>
<head>
    <title>Signup - Demo DevOps Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1><center>Signup</center></h1>
        <form class="form" method="POST" action="{{ url_for('signup') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" i    d="password" name="password" required>
            <button type="submit">Signup</button>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
    <footer>
        <p>&copy; 2023 Demo DevOps Project. All rights reserved.</p>
    </footer>
</body>
</html>
