<!DOCTYPE html>
<html>
<head>
    <title>User Details - Demo DevOps Project</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>User Details</h1><br>
        <table class="user-details-table">
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            <tr>
                <td><strong>Username:</strong></td>
                <td>{{ username }}</td>
            </tr>
            <tr>
                <td><strong>Email:</strong></td>
                <td>{{ email }}</td>
            </tr>
        </table>
    </div>
    <footer>
        <p>&copy; 2023 Demo DevOps Project. All rights reserved.</p>
    </footer>
</body>
</html>
